@use "../../assets/styles/Variables.module.scss" as v;

.Navbar {
  box-shadow: 0 0 1rem black;
  background-color: v.$secondary;
  padding: 1rem;
  ul {
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;

      a {
        text-decoration: none;
        & {
          color: v.$text;
        }
        &.active {
          color: v.$accent;
        }
      }
    }
  }
}
